/* .linkedin{
    height: 130px;
    width: 130px;
} */

.code-image{
    height: 200px;
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.program-image{
    height: 200px;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.DP{
    height: 200px;
    width: 200px;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-size: 90px   ;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    line-height: normal;
}
h2{
    color: #66BFBF;
    font-family: 'Monsterrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 2;
    padding-bottom: 10px;

}
/* Monsterrat */
h3{
    color: #11999E;
    font-family: 'Monsterrat', sans-serif;
   
}

.top-container{
    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
}
.mid-container{
    margin: 100px 0 ;

} 
 .bottom-container{
    

} 
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right:700px;
    top: 50px;
}
.skill-row{
    width: 50pc;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
